numpy
pandas
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
#sklearn.datasets
#sklear.ensemble

## to install all packages insert in the console
### pip install -r requirements.txt